.jumbotron {
  margin: 5px;
  border: 2px #94b7ef;
  padding: 4px;
}
.jumbotron h1{
  text-align: left;
}
.jumbotron p{
  text-align: left;
}
img.logo {
  float:right;
}
.formbox {
  border: 10px;
  border-color: black;
}
#formSurvey{
  margin: 5px;
  border: 2px black;
  background-color: #a3c6ff;
  padding: 20px;
}
#webdesigner{
  display: none;
}
#androidapp{
  display: none;
}
#fullstack{
  display: none;
}
#survey{
  display: none;
}
